*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:'Caribbean';
    src:url("../fonts/Caribbean.ttf");
}

body{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    /* background-color: black; */
    flex-direction: column;
    font-family: 'Caribbean';
}

header{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 height: 140px;
}

header h1{
    font-size: 25px;
}

.placa{
    display: flex;
    align-items: center;
    justify-content: center;
}

.placa img{
    position: absolute;
    width: 500px;
    height: 500px;
    z-index: -1;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}

main h2{
    font-size: 20px;
}

.options{
    margin-left: 40px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 320px;
    width: 250px;
    gap: 20px;
}

.options h2{
    margin-top: 40px;
    font-size:25px ;
}

.options .configs{
    display: flex;
    flex-direction: column;
    width: 170px;
}

.options select, button{
    font-family: 'Caribbean';
    font-size: 12px;
    width: 100%;
    height: 30px;
}

.options select:hover, button:hover{
    transition: all 0.5s;
    box-shadow: 0 0 10px 0 black inset, 0 0 10px 4px black;
}


.options button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100%;
    background-color: white;
    border: black 0.5px solid;
    outline: none;
    font-family: 'Caribbean';
    font-size: 0.7rem;

}

.options .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 170px;
    gap: 10px;
}

.buttons .close{
    display: none;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Caribbean';
    color: black;
    font-size: 30px;
}

.display{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.win{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #0009;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
   
}

.winMessage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/map1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 320px;
    width: 380px;
    gap: 20px;
}

.winMessage button{
    width: 180px;
    height: 40px;
    font-size: 15px;
}

.jogadores{
    width: 100%;
    display: flex;
}

.jogador{
    background-color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    display: flex;
    align-items:center;
    justify-content: center;
    
    color: black;
}
.jogador label, span{
    color: black;
}

.vez-jogador{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

#game{
    display: flex;
    flex-direction: column;

}
 
.linha{
    display: flex;
    flex-direction: row;

}
 
.casa{
    display: flex;
    align-items: center;
    justify-content: center;
    width:150px;
    height:150px;
    border: 0.7vw outset rgb(88, 88, 88);
    transition: all .5s ease-out;
} 

.casa:hover{
    cursor: pointer;
    background-color: #f5f5f528;
}
.casa img{
    width: 80px;
    height: 80px;
}


#casa1,
#casa2,
#casa3{
    border-top: none;
}

#casa3,
#casa6,
#casa9 {
    border-right: none;
}

#casa7,
#casa8,
#casa9 {
    border-bottom: none;
}

#casa1,
#casa4,
#casa7 {
    border-left: none;
}



footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100vw;
    /* background-color: aqua; */
}

footer img{
    display: none;
}

footer span{
    color: black;
}

.a{
 border: 0px 5px 5px 5px solid white;
}

@media (max-width:970px){

    header h1{
        font-size: 20px;
    }

    .placa img{
        width: 400px;
        height: 400px;
    }

        .casa{
            border: 1vw outset rgb(88, 88, 88);
        }

    .optionsBack{
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: #0009;
        top: 0;
        left: 0;
        display: none;
        align-items: center;
        justify-content: center;
    
    }
    .options{
        position: relative;
        margin: 0;
    }

    .buttons .close{
        display: flex;
    }

    main h2{
        font-size: 15px;
    }
    .casa{
        width:110px;
    height:110px;
    border: 1.3vw outset rgb(88, 88, 88);
    }

    footer span{
        font-size: 10px;
    }

    footer img{
        display: flex;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 30px;
        height: 30px;
        width: 30px;
    }
}