*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    /* background-color: black; */
    flex-direction: column;
}

header{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 height: 140px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 2;
    
    /* background-color: violet; */
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cairo', sans-serif;
    color: wheat;
}

.display{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.jogadores{
    width: 100%;
    display: flex;
}

.jogador{
    background-color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    display: flex;
    align-items:center;
    justify-content: center;
    
    color: black;
}
.jogador label, span{
    color: black;
}

.vez-jogador{
    /* background-color: tomato; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#game{
    display: flex;
    flex-direction: column;

}
 
.linha{
    display: flex;
    flex-direction: row;

}
 
.casa{
    width:100px;
    height:100px;
    background-color:tomato;

} 

button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 10px;
    height: 45px;
    width: 200px;
    background-color: wheat;
    border-color: transparent;
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100vw;
    /* background-color: aqua; */
}

footer span{
    color: white;
}

.a{
 border: 0px 5px 5px 5px solid white;
}