*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:'Caribbean';
    src:url("fonts/Caribbean.ttf");
}

body{
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    font-family: 'Caribbean';
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main h1{
    color: black;
    font-size:90px;
}

button{
    background: black;
    color: white;
    height: 50px;
    width: 150px;
    font-family: 'Caribbean';
    border-radius: 15px;
    border: none;
}

button:hover{
    transition: all 0.5s;
    box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px white;
}

button:hover{
    box-shadow: white;
}

@media (max-width:920px){


    main h1{
        font-size: 30px;
    }


    button{
        background: black;
        color: white;
        height: 40px;
        width: 120px;
        font-family: 'Caribbean';
        border-radius: 10px;
        border: none;
    }
}